<div id="menu-lateral">

  <div id="logo"></div>

  <input type="text" id="search" placeholder="Buscar...">

  <div id="menu-list">
    <span class="nav-item">Home</span>
    <br>

    <span class="ai-analytics">
      Servicios
    </span>

    <span class="nav-item">
      Ejemplo 1
    </span>

    <div class="nav-item">
      Ejemplo 2
    </div>
  </div>


  <div id="menu-footer">
    <div class="user-info">
      <span class="user-name">Usuario Prueba</span>
      <span class="account">Mi cuenta</span>
    </div>

    <div class="logout-btn"></div>
  </div>

</div>
